.header-password {
  @extend %flex-centered;
  flex-direction: column;
  &__box-top {
    width: 135px;
    height: 66.88px;
  }

  &__box-curve {
    width: 335px;
    height: 40px;
    margin-top: 8px;
  }

  &__box-bottom {
    @extend %align-items-center;
    flex-direction: column;
    text-align: center;
    width: 235px;

    &__title {
      margin-bottom: 6px;
      font-weight: 700;
      font-size: 20px;
    }

    &__text {
      font-weight: 600;
      font-size: 12px;
    }
  }

  &__image {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.forgot-password {
  & .ant-modal-content {
    border-radius: 22px;
    & .ant-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 35px !important;
    }
  }

  &__boxInput {
    margin-top: 22px;
    &__label {
      font-weight: 600;
      font-size: 13px;
      margin-bottom: 8px;
    }
    &__id {
      height: 40px;
      background-color: $secondary-color;
    }
  }

  &__textError {
    margin-top: 10px;
    text-align: center;
    color: $red-color;
    font-size: 14px;
  }
}

.update-password {
  .ant-modal-content {
    border-radius: 22px;
  }

  .ant-modal-body {
    display: flex;
    padding: 30px 0 0 0;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    @extend %align-items-center;
    margin-top: 25px;
    flex-direction: column;
  }

  &__form {
    margin-top: 20px;
  }

  &__boxInput {
    padding: 0 30px;
    .ant-form-item-required:after {
      content: '*';
      color: $red-color;
      font-weight: 600;
      font-size: 16px;
      margin-left: 2px;
    }

    .ant-form-item-explain-error {
      margin-top: 5px;
    }
  }

  &__password {
    @extend %input;
    height: 40px;
    border-radius: 5px;
    background-color: $secondary-color !important;
    > input {
      background-color: $secondary-color;
    }
  }

  &__textError {
    @extend .forgot-password__textError;
    margin: 20px 0;
  }

  &__textErrorOpt {
    @extend .forgot-password__textError;
    margin-top: 0;
  }

  &__footer {
    margin-top: 25px;
    border-top: 1px solid $grey-bg-color;
    padding: 10px 14px;
  }
}

.footer-password {
  display: flex;
  justify-content: space-around;

  &__btnCancel {
    width: 127px;
    height: 35px;
    margin: 0 !important;

    &:focus {
      color: #ff5855 !important;
      border: 1px solid #ff5855 !important;
      background: #fff !important;
    }
  }

  &__btnSend {
    width: 127px;
    height: 35px;
    margin: 0 !important;
  }
}
