.ant-pagination-options {
  position: absolute;
  left: 0px;
  margin-left: 13px !important;

  &::before {
    content: 'Hiển thị ';
    color: $gray-light-color;
    font-size: 12px;
  }

  &::after {
    content: ' trên 1 trang ';
    color: $gray-light-color;
    font-size: 12px;
  }

  .ant-pagination-options-size-changer {
    .ant-select-selector {
      border: none;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    }
  }
}

.ant-pagination {
  position: relative;
  @extend %flex-end;
  align-items: center;
  padding: 3rem 0rem;

  .ant-pagination-item {
    border: none;
    border-radius: 50%;
    @extend %flex-centered;
    min-width: 25px;
    height: 25px;

    &-active {
      background-color: $green-color;

      a {
        color: white;
      }
    }
  }

  li {
    margin: 0px;
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    button {
      border: none;
    }
  }

  .ant-pagination-disabled {
    button {
      color: $gray-light-color  !important;
    }
  }

  &.manageFinanceKnowledge-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .ant-pagination-options {
      display: none;
    }
    .ant-pagination-item {
      width: 25px !important;
      min-width: 25px !important;
      height: 25px;
      padding: unset;
    }
  }
  &.financeKnowledge-pagination {
    .ant-pagination-item {
      background-color: unset;
      &-active {
        background-color: $green-color;
      }
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      button {
        background-color: unset;
      }
    }
  }
}

.ant-pagination-prev {
  .ant-pagination-item-link:after {
    content: 'Trước';
    opacity: 0.7;
    margin-right: 8px;
  }
}

.ant-pagination-next {
  .ant-pagination-item-link::before {
    content: 'Tiếp';
    opacity: 0.7;
    margin-left: 8px;
  }
}

.ant-pagination-disabled {
  button {
    color: $gray-light-color  !important;
  }
}