.config_header{
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    padding: 16px 32px;
    margin: 0px -30px;
    h3{
        font-size: 18px;
        line-height: 22.5px;
        font-weight: 700;
    }
    button{
        font-size: 1.2rem;
        img{
            margin-right: 11px;
        }
    }
}

.config_content{
    background-color: $white-color;
    margin-top: 16px;
    border-radius: 16px;
    .config_content_title{
        padding: 16px 27px;
        border-bottom: 1px solid $grey-border-color;
        h2{
            line-height: 25px;
            font-size: 20px;
            font-weight: 700;
        }
    }
    .config_content_body{
        // padding: 13px 27px;
        .config_content_body-avatar{
            padding: 9px 27px;
            p{
                font-weight: 700;
                font-size: 1.4rem;
            }
        }
        .ant-form-item-row{
            display: flex;
            flex-direction: column;
            .ant-form-item-label{
                display: flex;
                justify-content: flex-start;
                label::after{
                    display: none;
                }
            }
        }
        .config_content_body-infoUser{
            padding: 9px 27px 19px 27px;
            border-bottom: 1px dotted $grey-border-color;
            input{
                height: 40px !important;
                border-radius: 5px;
                font-weight: 700;
                font-size: 1.4rem;
            }
        }
        .config_content_body_checkbox-group{
            border-bottom: 1px solid $grey-border-color;
            .border_right{
                padding: 19px 27px;
                border-right: 1px dotted $grey-border-color;
            }
            .ant-checkbox-wrapper{
                display: flex;
                align-items: baseline;
                .ant-checkbox{
                    input{
                        width: 24px !important;
                        height: 24px !important;
                    }
                }
            }
        }
        .config_content_body_button-group{
            padding: 20px 26px 26px 21px;
            display: flex;
            justify-content: space-between;
            .config_content_body_button-group_right{
                display: flex;
                .btn-danger{
                    margin-right: 8px;
                    height: 35px;
                    width: 127px;
                }
            }
        }
    }
}