.container_contract {
  position: relative;
  border-radius: 25px 25px 25px 25px !important;
  margin-top: 15px;

  .contract_list {

      th,
      td {
          font-weight: 600;

          &::before {
              display: none;
          }
      }
  }

  .table_price {
      color: $green-color;
  }

  .edit_icon {
      cursor: pointer;
  }

  .btn_modal_example {
      min-width: 118px;
  }
}

.contract_header {
  padding: 16px 19px;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .header_right {
      display: flex;

      .btn-primary {
          display: flex;
          margin-left: 7px;

          img {
              margin-right: 11px;
          }

          p {
              font-size: 1.2rem;
          }
      }
  }
}