.login {
  height: 96vh;
  &__left {
    height: 100%;
    @extend %flex-centered;
    flex-direction: column;
    background-color: $secondary-color;
    &__container {
      width: 434px;
      @extend %flex-centered;
      flex-direction: column;
    }

    &__box {
      width: 158px;
      height: 31px;
      margin-bottom: 55px;
    }

    &__logo {
      display: inline-block;
      width: 100%;
      height: auto;
    }

    &__form {
      width: 100%;
      &__username {
        margin-bottom: 16px;
        & .ant-form-item-explain-error {
          margin-top: 5px;
        }
      }

      &__password {
        & .ant-form-item-explain-error {
          margin-top: 5px;
        }
      }
      &__remember {
        margin-top: 24px;
      }
    }
    &__bottom {
      position: absolute;
      bottom: 34px;
      @extend %flex-centered;
      &__logo {
        width: 52px;
        height: 35px;
      }

      &__text {
        font-weight: 600;
        font-style: normal;
        color: $grey-dark-color;
      }
    }
  }
  &__label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
  }

  &__textError {
    margin: 16px auto 0;
    padding: 0 40px;
    font-size: 14px;
    color: $red-color;
    text-align: center;
  }

  &__input {
    height: 45px;
    @extend %input;
    border-radius: 10px;
    background-color: $white-color;
    font-size: 14px;
    font-weight: normal;

    &:focus {
      box-shadow: 0 0 0 2px #3dbd7840;
    }
  }

  &___checkbox {
    clear: right;
    .ant-checkbox-checked {
      top: 0.4em !important;
    }
  }

  &__forgotPassword {
    padding: 0;
    color: $green-color;
    font-weight: 600;
    float: right;
    border: none;
    &:hover,
    &:active,
    &:focus {
      border: none;
      background-color: unset !important;
      color: $green-color;
    }
  }

  &__button {
    width: 100%;
    height: 45px;
    @extend %btn;
    margin-top: 39px;
    background-color: $green-color;
    &:hover {
      background-color: $green-table-bg;
    }
    &:active {
      background-color: $green-table-bg;
    }
    &:focus {
      background-color: $green-table-bg;
    }
  }
  &__right {
    &__carosel {
      position: relative;
      height: 100vh;
      color: '#fff';
      background: '#364d79';
    }
    ul li {
      display: none !important;
    }
    &__image {
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    &__context {
      position: absolute;
      left: 50%;
      bottom: 50px;
      width: 600px;
      height: 163px;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      background: linear-gradient(
        98.42deg,
        rgba(255, 255, 255, 0.21) 31.88%,
        rgba(255, 255, 255, 0) 162.38%
      );
      backdrop-filter: blur(29px);
      border-radius: 10px;
    }

    &__description {
      margin-top: 28px;
      padding: 0 50px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: $white-color;
    }

    &__event {
      @extend %flex-centered;
      justify-content: flex-end;
      margin-top: 17px;
      margin-right: 34px;
      &__left {
        @extend %flex-centered;
        width: 50px;
        height: 50px;
        background: linear-gradient(
          90.68deg,
          rgba(255, 255, 255, 0.45) -272.01%,
          rgba(255, 255, 255, 0) 134.1%
        );
        border: 1px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(61px);
        border-radius: 50px;
        cursor: pointer;
      }

      &__right {
        margin-left: 9px;
        @extend .login__right__event__left;
      }
    }
  }
}
